.bob-img {
  background-image: url('/images/bob.jpg');
  background-size: cover;
}

.man-img {
  background-image: url('/images/man_playing.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.sign-in {
  padding-top: 150px;
}

.errors {
  color: white;
  font-weight: bold;
}

.container {
  width: 100%;
  height: 100%;
}

#button {
  padding-top: 20px;
  float: right;
  padding-bottom: 13px;
}

#artist-info{
  color: white;
  background-color: red;
}