<div class="container man-img">
  <div class="row">

    <div class="large-12 columns">

      <div class="left">
        <h1 style="color: #1E90FF">discover.</h1>
      </div>

      <div class="right">
        <form id="button"action="/sessions/<%= current_user %>" method="post">
          <input name="_method" type="hidden" value="delete" />
          <input type="submit" value="Sign Out">
        </form>
      </div>

    </div>
  </div>

  <div class="row">
      <hr>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <h4>Learn more about an artist:</h4>

      <p>
        <form id="searchbar">
          <input type="text" name="artist">
          <input type="submit" value="Search">
        </form>

      </p>

      <p id="artist-image"></p>
      <p id="#artist-info"></p>
      <p id="#artist-listen-url"></p>

</div>