<div class="container">

  <div class="row">

    <h1 style="color: white">Create your profile</h1>

    <% if @error %>
      <div class="errors"><%= @error %></div>
    <% end %>

    <form method="post" action="/users">
      <div class="small-4 small-offset-6 columns">
        <label class="label" for="name">Name</label>
        <input type="text" name="user[name]" placeholder="your name here" >
        <br>
      </div>
      <div class="small-4 small-offset-6 columns">
        <label class="label" for="email">Email</label>
        <input type="email" name="user[email]" placeholder="gimme yer email" >
        <br>
      </div>
      <div class="small-4 small-offset-6 columns">
        <label class="label" for="password">Password</label>
        <input type="password" name="user[password]" placeholder="6 or more characters please">
        <br>
      </div>
      <br>
      <div class="submit"><input type="submit" value="Sign Up"></div>
    </form>

  </div>

</div>